
/* Header */

header {
    background-color: white;
}

/* Main content */
main {
    background-color: white;
}

.text-center{
    text-align: center;
}
.pink-text{
	color: #EFB6C8;
}

.submit-btn {
    background-color: black;
    color: white;
}

/* Footer */
footer {
    background-color: #EFB6C8;
}